venv/
owl_env/
**/.env
**/.venv/
**/aocvenv/
**/__pycache__/
**/*.log
**/.pytest_cache/
**/database/
__pycache__/
**/chromadb/
**/vs_db/
**/file_content/
site/
owl-demo-base/
**/*.egg-info
kubeconfig
