uvicorn
fastapi
langchain-openai
langchain-anthropic
langchain-mistralai
langchain_ibm
langchain_community 
langchain
langchainhub
langgraph
langgraph-checkpoint-sqlite
pydantic
pydantic-settings
pydantic_yaml
python-multipart
python-dotenv
markdown
chromadb
pymupdf==1.24.3
pyyaml
lxml
beautifulsoup4
gunicorn
