/* Copyright 2024, Athena Decision Systems */
/* @author Joel Milgram */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 75%;
}

body {
  background: rgb(3, 0, 31);
  color: white;
  font-family: 'Poppins', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
}

.app-owl {
  background: rgb(208, 228, 236);
  /* was skyblue */
}

.sideBar {
  position: fixed;
  min-height: 100vh;
  border-right: 1px solid rgb(100, 100, 100);
  display: flex;
  flex-direction: column;
}

.logo {
  margin-right: 1rem;
  width: 7rem;
  border-radius: 2.5rem;
}

.logo-ibu-assu {
  margin-top: 0rem;
  margin-right: 1rem;
  border-radius: 1.5rem;
  width: 12rem;
}

.brand {
  font-size: 2rem;
  font-weight: 600;
}

.brand-owl {
  color: rgb(3, 0, 31);
}

.upperSide {
  padding: 1.5rem;
}

.upperSideTop {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.upperSideTop-ibu-assu {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.app-message {
  height: 1.5rem;
}

.app-button {
  background: aliceblue;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  margin-right: 0.5rem;
}

.app-button:hover {
  background-color: #726DA8;
  color: white;
}

.app-button:active {
  background-color: #7D8CC4;
  color: white;
}

.main {
  min-height: calc(100vh-14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  margin-left: 50rem;
  margin-right: 6rem;
  margin-bottom: 0rem;
}

.chats {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  max-width: 70rem;
  height: calc(100vh-18rem);
}

.chat {
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
  /*background: rgb(3, 0, 31);*/
}

.chatImg {
  object-fit: cover;
  width: 3.5rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}

.bot {
  background: rgba(28, 30, 58, 1);
  width: fit-content;
  width: 68rem;
  border-radius: 0.5rem;
}

.bot>div>div>p>strong {
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: underline;
}

.bot>div>div>p>a {
  color: lightsalmon;
}

.bot>div>div>ul {
  padding-left: 2rem;
}

.bot>div>div>ol {
  padding-left: 1rem;
}

.loader {
  width: 50rem;
}

.loader>img {
  height: 2.5rem;
}

.chatFooter {
  margin-top: auto;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sep {
  margin-bottom: 1rem;
  width: 70rem;
  height: 0px;
  border: none;
  border-top: 1px solid rgb(100, 100, 100);
}

.inp {
  padding: 0.3rem;
  background: rgba(28, 30, 58, 1);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  width: 68rem;
}

.inp>input,
.inp>textarea {
  width: calc(100% - 3rem);
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white
}

.inp>input,
.inp>textarea,
.send {
  background: transparent;
  border: none;
}

.send {
  cursor: pointer;
}

.txt {
  line-height: 2.4rem;
  color: rgba(222, 222, 222, 1);
}

.configuration {
  position: absolute;
  top: 1rem;
  left: 41.5rem;
  cursor: pointer;
}

.configuration img {
  width: 2.5rem;
}

.app-error {
  width: 40rem;
  color: red;
}

.response-time {
  font-style: italic;
  font-size: smaller;
}

.color-black {
  color: black;
}

.color-background-without-odm {
  color: rgb(3, 0, 31);
}

.color-background-with-odm {
  color: rgb(208, 228, 236);
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}