/* Copyright 2024, Athena Decision Systems */
/* @author Joel Milgram */

.configuration-panel {
    position: absolute;
    top: 2rem;
    left: 40rem;
    z-index: 1;
    background-color: rgba(28, 30, 58, 1);
    padding: 2rem;
    border: 1px solid rgba(98, 98, 98, 1);
    margin: 2rem;
    border-radius: 0.5rem;
}

.configuration-panel-close {
    position: relative;
    top: -1.5rem;
    left: 1rem;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgba(198, 198, 198, 1);
    cursor: pointer;
}

.configuration-url {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 40rem;
}

.configuration-url input {
    height: 3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-family: 'Poppins', sans-serif;
    width: 40rem;
    background-color: gainsboro;
}

.configuration-url-set {
    font-size: 1.1rem;
    min-width: 4rem;
    margin-left: 0.5rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid rgba(148, 148, 148, 1);
    background-color: rgba(28, 30, 58, 1);
    cursor: pointer;
    border-spacing: 0.5rem;
}

.configuration-url-set:hover {
    background-color: rgb(50, 54, 105);
}

.configuration-url-set:activee {
    background-color: rgba(28, 30, 58, 1);
}