.closed-question-label {
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    text-align: justify;
}

.closed-question-flex-start {
    justify-content: flex-start;
}

.closed-question-input-zone input,
select {
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    font-family: 'Poppins', sans-serif;
    width: 20rem;
    background-color: gainsboro;
}

.closed-question-button {
    font-size: 1rem;
    text-align: left;
    padding: 0.4rem;
    margin: 0.8rem auto;
    border-radius: 0.5rem;
    border: 1px solid rgba(148, 148, 148, 1);
    background-color: rgba(28, 30, 58, 1);
    color: whitesmoke;
    cursor: pointer;
}

.closed-question-button:hover {
    background-color: rgb(50, 54, 105);
}

.closed-question-button:active {
    background-color: rgb(100, 107, 205);
}

.closed-question-error {
    color: red;
    font-size: 1rem;
    margin-top: 0.2rem;
}